@model ReactRouterRedux.Models.InitialState

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.MetaData.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @RenderBody()

    @RenderSection("InitialState", false)
    <script src="https://fb.me/react-0.14.0.min.js"></script>
    <script src="https://fb.me/react-dom-0.14.0.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/App/app.bundle.js")"></script>
</body>
</html>
